---
---
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css">
<head>
    <title>Grant Proposal</title>
    <style>
        body {
            background-color: #000000; /* Black Background */
            color: #FFFFFF; /* White Text */
            max-width: 800px;
            margin: 40px auto; /* Centers content */
            font-family: sans-serif;
        }
        a {
            color: #ADD8E6; /* Light Blue for links */
        }
    </style>
</head>
<body>
    {{ content }}
</body>
</html>
